.tradeswipe-title {
  color: red;
}

#GoogleLogin {
  width: auto;
}

.home-container {
  width: 80vw;
  height: 60vh;
  /* min-height: 70vh makes the page-container automatically extend to the bottom */
  /* background-color: black; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-container p {
  margin: 0;
}

/* .homepage-button {
  background: rgb(247, 122, 122);
  color: white;
  padding: 2vh 2vw;
  margin: 0 0.5vw;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
} */
