.tradeswipe-title {
  color: red;
}

#GoogleLogin {
  width: auto;
}

.home-container {
  width: 80vw;
  height: 60vh;
  /* min-height: 70vh makes the page-container automatically extend to the bottom */
  /* background-color: black; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-container p {
  margin: 0;
}

.touchstone-button:hover {
  opacity: 70%;
}

.mit-logo {
  height: 25px;
}
