.market-box {
  width: 100%;
  border: 1px solid white;
  border-radius: 10px;
  padding: 3vh 0;
}

.filter-button {
  color: white;
  padding: 0.5vh 1vw;
  margin: 0 1vw;
  /* min-width: 10vw; */
  width: fit-content;
  /* min-height: 5vh; */
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.market-button {
  background: rgb(247, 122, 122);
}

.match-button {
  background: #93ccea;
}

.selected {
  border: solid white 2px;
}

.deselected {
  opacity: 50%;
}

.live-button:hover {
  opacity: 100% !important;
}

.reserve-button:hover {
  opacity: 100% !important;
}

.left-help {
  margin: 0 0 0 2vw;
}

.right-plus {
  margin: 0 2vw 0 0;
}

.market-icon {
  height: 6vh;
  max-height: 7vw;
  width: auto;
}

.market-dropdown select {
  font-size: var(--m) !important;
}

.market-dropdown select option {
  font-size: var(--m) !important;
}

.dropdown-menu {
  margin: 1vh 1vw;
}

/* dialog: block display */
.popup {
  width: fit-content;
  min-width: 200px;
  height: fit-content;
  padding: 2vh 2vw;
  position: fixed; /* Use fixed to remove it from the normal document flow and keep it placed relative to the viewport */
  top: 5vh;
  /* left: 20vw; */
  left: 50%; /* Position the left edge of the element in the middle of the viewport */
  transform: translate(-50%, 0); /* Shift the element left by half of its width */

  background-color: #eeeeee;
  border: 2px solid black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 1;
}

.popup button {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.popup input {
  border: 1px solid black;
}

.form-title {
  white-space: nowrap;
}

.help {
  width: 80vw;
  max-width: 700px;
  max-height: 80vh;
  overflow-y: scroll;
}

.claim-button {
  display: block;
  width: 100%;
  background-color: rgb(247, 122, 122);
  color: white;
}

.cancel-button {
  display: block;
  width: 100%;
  background-color: red;
  color: white;
}

.order {
  display: flex;
  flex-direction: column;
  /* width: fit-content !important; */
  width: 130px !important;
  min-width: fit-content !important;
  height: fit-content;
  border: solid white 1px;
  margin: 10px;
}

@media only screen and (max-width: 800px) {
  .order {
    width: 120px !important;
    min-width: fit-content !important;
    margin: 5px !important;
  }
}

.order p {
  white-space: nowrap;
  margin: 0 1vw;
}

.order-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.select-instructions {
  margin: 5px;
  text-align: center;
}

/* editing styling of react-datepicker */
.react-datepicker__header {
  width: 100% !important;
}

.react-datepicker__month-container {
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.react-datepicker__month-container div {
  font-size: var(--sm) !important;
}

.react-datepicker__day-names {
  display: flex !important;
}

.react-datepicker__week {
  display: flex !important;
  /* max-height: 5vh; */
}

.react-datepicker {
  width: 100% !important;
}
.react-datepicker__input-time-container {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  margin: 0 !important;
  padding: 0 !important;
}

.react-datepicker-time__caption {
  width: fit-content !important;
  margin: 0 0 10px 5px !important;
  padding: 0 !important;
}

.react-datepicker-time__input-container {
  width: fit-content !important;
  margin: 0 5px 10px 0 !important;
  padding: 0 !important;
}

@media only screen and (max-width: 800px) {
  .react-datepicker__input-time-container {
    display: none !important;
  }
}

/* .react-datepicker__tab-loop {
    width: 100%;
  } */

/* .react-datepicker-popper {
    width: 80% !important;
  } */

/* For Match page: */
.match-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.match {
  width: 500px !important;
  max-width: 95% !important;
  margin: 10px 0;
  border: solid white 1px;
}

.match p {
  margin: 0 10px;
}

@media only screen and (max-width: 800px) {
  .match {
    margin: 6px 0;
  }
  .match p {
    margin: 0 6px;
  }
}

.cancel-match {
  /* background-color: rgb(247, 122, 122); */
  background-color: red;
  color: white;
  display: block;
  width: 100%;
  border-top: 1px solid white;
  border-right: 0.5px solid white;
}

.finish-match {
  /* background-color: rgb(97, 167, 110); */
  background-color: green;
  color: white;
  display: block;
  width: 100%;
  border-top: 1px solid white;
  border-left: 0.5px solid white;
}

/* styling for chat */
.chat-icon {
  height: 30px;
  margin: 0 6px 0 0;
}

.chat-box {
  width: 80vw;
  max-width: 700px;
  height: 70vh;
}

.close-chat {
  padding: 0 !important;
}

.x-icon {
  height: 18px;
}

.messages-container {
  overflow-y: scroll;
}

.send-icon {
  height: 20px;
  margin: 0 0.5vw;
}

@media only screen and (max-width: 800px) {
  .chat-icon {
    height: 20px;
    margin: 0 4px 0 0;
  }
  .send-icon {
    margin: 0 1vw;
  }
}
