.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 9.6vh;
  width: 80vw;
  background-color: rgba(255, 255, 255, 0.213);
  margin: 5vh 0;
  border-radius: 10px;
  border: 0.2vh solid white;
}
/* Navbar takes up 20vh total */

.Navbar button {
  display: block;
  height: 100%;
}

#logo {
  height: 6vh;
  width: auto;
  margin: 0 0.5vw 0 0;
}

.nav-icon {
  height: 6vh;
  width: auto;
}

.nav-icon:hover {
  opacity: 0.7;
}

#logout-icon {
  height: 5vh;
}

.nav-link {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 0.5vw;
}

.nav-link:hover {
  opacity: 0.7;
  color: rgb(212, 86, 86);
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 1vw;
}

.nav-button:hover {
  opacity: 0.7;
}

.nav-container {
  margin: 0 0.5vw;
}

#tradeswipe-nav {
  margin: 0 1vw 0 0.5vw;
}
